.MainLayoutContent {
  /*Container*/
  /*Self*/
  flex: 1 1 auto;
  /*Children*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.MainLayoutDrawerNavLink {
  text-decoration: none;
}
.NavItem {
  width: 100%;
  text-decoration: none;
  padding: 16px 0;
  margin: 0;
  background-color: #00C173;
  color: black;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.NavItem:hover {
  background-color: silver;
}

.ActiveNavItem {
  background-color: silver;
}

.ActiveNavItem:hover {
  background-color: gray;
}